# Default compose args
COMPOSE_ARGS=" -f jenkins/docker-compose.yaml "

# Make sure old containers are gone
sudo docker-compose $COMPOSE_ARGS stop
sudo docker-compose $COMPOSE_ARGS rm --force -v

# Build identicon image and start up the whole system
sudo docker-compose $COMPOSE_ARGS build --no-cache
sudo docker-compose $COMPOSE_ARGS up -d

# Run unit tests
sudo docker-compose $COMPOSE_ARGS run --no-deps --rm -e STAGE=unit xcellenthub/identicon:1.0
ERR=$?

# Tag and push identicon image if unit tests passed
if [ $ERR -eq 0 ]; then
  HASH=$(git rev-parse --short HEAD)
  echo "Tagging"
  # Use your name here
  NAME=<my-name>
  sudo docker tag xcellenthub/identicon:1.0 localhost:5000/identicon-$NAME:$HASH
  echo "Pushing"
  sudo docker push localhost:5000/identicon-$NAME:$HASH
fi

# Shutdown the system
sudo docker-compose $COMPOSE_ARGS stop
sudo docker-compose $COMPOSE_ARGS rm --force -v

return $ERR
